<html>
<body>

<p>Usted ha realizado el siguiente pedido:</p>

<%= render 'purchase' %>

<p>Los datos de envío que indicó son:</p>

<%= render 'recipient' %>
	
<p>Nos comunicaremos con usted a la brevedad para confirmar el pedido y los datos de envío.</p>

<p>Muchas gracias por su compra.</p>

</body>
</html>