body {
	margin-top: 0px;
	background-color: #EDEDED;
}

.container {
	background-color: white;
}

.product {
	width: 315px;
	
	margin: 4px;
	padding: 4px;
	
	min-height: 155px;
	float: left;
	
	border: 1px solid #FF9966;
	
	-moz-border-radius: 14px;
	border-radius: 14px;
	
	background-color: #FFFFCC;
}


.product label {
	font-weight: normal;
}

.in_cart {
	background-color: #E4FFB8;
	border-color: #599F00;
	background-image: url(/images/cart.png);
	background-repeat: no-repeat;
	background-position: right center;
}

.product .details {
	width: 184px;
	margin-left: 4px;
	color: #444;
}

.product .description {
	font-size: 1.2em;
	padding-bottom: 14px;
}

.product .unit_price {
	font-size: 1.8em;
	color: #CC0033;
	padding-left: 3px;
}

.product .thumbnail {
	width: 120px;
	text-align: center;
	padding-top:1px;
}

.product .thumbnail img {
	-moz-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.product hr {
	height: 1px;
	color: #ccc;
	margin-top: 2px;
	margin-bottom: 2px;
}

.product #quantity {
	width: 38px;
}

.product #sizes {
	width: 84px;
}

.product .button {
	width: 64px;
}

#navigation ul {
	margin-top: -30px;
	margin-right: 0px;
	margin-bottom: 12px;
}

#navigation ul li {
	display: inline;
	background-color: #E5FCC1;
	padding: 15px;
}

#navigation ul li a {
	color: #783030;
	font-size: 1.3em;
	text-decoration: none;
}

#navigation ul li a:hover {
	color: darkgreen;
}


#leftBar .catalogs {
	padding-left: 0px;
}

a {
	color: #579930;
	text-decoration: none;
}

h3, h2 { color: #783030; }
h2 a { color: #3C6B3E; }

#leftBar .catalogs a {
	font-weight: bold;
}

#leftBar .catalogs li {
	list-style: none;
	padding-left: 0px;
}

#leftBar .categories {
	margin-bottom: 10px;
}

#leftBar .categories li {
	list-style: circle;
}

.container {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

#logo {
	float: left;
	margin: 6px;
}