<h2>Carrito</h2>

Total <div class="total"><%= number_to_currency @total %></div>

<% if @productos.count > 0 %>
	<% for producto in @productos %>
		<%= render :partial => 'card', :locals => { :producto => producto } %>
	<% end %>
<% else %>
	<p>No hay productos seleccionados.</p>
<% end %>
Total <div class="total"><%= number_to_currency @total %></div>