<h2>
	Catálogo 
	<%= link_to @catalog.name.capitalize, :controller => :catalogo, :action => :show, :catalog_name => @catalog.name %>

	<% if @category %>
		|
		<%= link_to @category.name.capitalize, :controller => :catalogo, :action => :show, :catalog_name => @catalog.name, :category_name => @category.name %>
	<% end %>
</h2>

<% for product in @products %>
	<%= render :partial => 'card', :locals => { :product => product } %>
<% end %>